
.navbar-fixed-top {
  border-width: 0;
}
.navbar-brand {
  float: center;
}
.navbar-nav {
  float: center;
}

// --------------------
// Border for titles:
h1, h2, h3, h4, h5, h6, hr {
    border-top: 2px dashed @hr-border;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;
    padding-top: 1em;
}
h3.panel-title {
    border-top: none;
}

// // Carousel:
// .carousel-control, .carousel-indicators {
//     display: none;
// }
// .carousel-control.left, .carousel-control.right {
//         background-image: none
// }
// 

nav li a {
    padding: 10px 25px; // 25 instead of 15
}

.navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: white; // ?!?!
}
